{% extends 'base.html' %}

{% block title %}{{book.title}}{% endblock %}

{% block content %}
    <div class="book-detail">
        {% if book.cover %}
            <div class="text-center">
                <img src="{{ book.cover.url }}" class="rounded" style="height:700px; width:cover" alt="{{ book.title }}">
            </div>
        {% endif %}
        <h2>{{book.title}}</h2>
        <p>Author: {{book.author}}</p>
        <p>Price: {{book.price}}$</p>
        <br>
        <div>
            <h3>Reviews</h3>
            <ul>
                {% for review in book.reviews.all %}
                <li>{{ review.review }} | <i>{{ review.author }}</i></li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}