{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
    <h1>Bu bosh sahifa</h1>
    <img class="book1" src="{% static 'images/1.png' %}">
    {% if user.is_authenticated %}
        <p>Hello, {{user.username}}</p>
        <p><a href="{% url 'account_logout' %}">Log Out</a></p>
    {% else %}
        <p>You are not logged in </p>
        <a href="{% url 'account_login' %}">Log In</a>
        <a href="{% url 'account_signup' %}">Sign Up</a>

    {% endif %}
{% endblock content %}